.container-audio-simple {
    background: rgb(250, 250, 250);
    box-shadow: 0 3px 4px #eee;
    border: 1px solid #fafafa;
    display: inline-block;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 200px;
    border-radius: 10px;
}

.container-audio-simple>* {
    padding: 5px;
}

.progress-audio-simple {
    width: 70%;
    height: 5px;
    padding: 0;
}

.btn-state-audio-simple {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

.btn-state-audio-simple i {
    display: none;
    font-size: 110%;
}

.btn-state-audio-simple[state='play'] [play] {
    display: block;
    color: rgb(17, 252, 201);
}

.btn-state-audio-simple[state='pause'] [pause] {
    display: block;
    color: rgb(240, 134, 134);
}

.time-played-audio-simple,
.time-total-audio-simple {
    color: #888;
    font-size: 95%;
    margin: 0;
}